var config = {
  jenkinsData : {
    refreshBranches : '',
    deployStaging : ''
  },
  jenkinsWMSData : {
    refreshBranches : '',
    deployStaging : ''
  },
  ignoreUser : {
    github : '',
    trello : ''
  },
  projects : {
    shop : {
      github : {
        owner : '',
        repo : ''
      },
      trello : {
        code : 'SHO'
      }
    }
};

module.exports = config;
